{% extends "base.html" %}
{% block body_block %}

<form action="{% url 'detect' %}" method="POST", autocomplete="off">
    <div class="container">
        <br><br><br>
    </div>
    {% csrf_token %}
    <div class="container shadow-lg p-3 mb-5 bg-light rounded" style="background-color:rgb(219, 211, 211)">
        <div class="row" style="text-align:center">
            <div class="col-sm">
                <p class="display-4">Language Detector</p>
                <br>
            </div>
        </div>
        <div class="row" style="text-align:center">
            <div class="col-sm">
                <p>Text</p>
            </div>
            <div class="col-sm">
                <p>Language</p>
            </div>
        </div>
        <div class="row" style="text-align:center">
            <div class="col-sm">
                <textarea type="text" name="input" style="width: 300px; height:150px">{{text}}</textarea>
            </div>
            <div class="col-sm">
                <textarea type="text" name="result" style="width: 300px; height:150px">{{lang}}</textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-sm" style="text-align:center">
                <input type="submit" name="detect" value="Detect" class="btn btn-primary">
                <br><br>
            </div>
        </div>
    </div>
    <!-- <input type="submit" name="detect" value="Detect" class="btn btn-primary"> -->
</form>
{% endblock %}